 <div class="row">
    <div class="col-xs-12" style="background-color:#99c2ff;height: 80px;">
    	
		  <span>Select Brand -</span>
		  <select ng-model="brand_of_item">
		    <option *ngFor="let brand of brand">{{brand}}</option>
		  </select>
		   <span>Select Price -</span>
		  <select ng-model="price_of_item">
		    <option *ngFor="let price of price">{{price}}</option>
		  </select>
		  <button type="submit" class="btn btn-default" (click)="stateChanger()">Go</button>
       
    </div>
 </div>

<div *ngIf="state;then autoloadItems else searchItems">state true </div>

<ng-template #searchItems>
	<br>
      <div class="row">
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	 </div>
	  <div class="row">
        <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	 </div>
	 <div class="row">
        <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	 </div>
</ng-template>	
 
<ng-template #autoloadItems>
  
	    
	<h3 setmycolorhilight>Popular Products</h3>
	<br>
	 <div class="row">
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	 </div>


	 <div class="row">
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #cce0ff;height: 400px;">Column 1-b</div>
	 </div>

	<h3 setmycolorhilight>Latest Products</h3>
	<br>
	 <div class="row">
        <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	 </div>


	 <div class="row">
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	    <div class="col-xs-2" style="background-color: #e6f0ff;height: 400px;">Column 1-b</div>
	 </div>



</ng-template>






